@{
    Layout = "~/Views/Shared/_LayoutNg.cshtml";
    ViewBag.Title = "Home Page Angular";
}
<br/>
<h1>AngularUI Bootstrap Modal + Angular Template</h1>
<div ng-controller="modalcontroller">
    <button class="btn btn-default" type="button" 
            ng-click="openModal('AngularUI Model','Click on <b>Ok</b> to Redirect to Contact page.', 'OK','/home/Contact', 'Close')">
                    Modal with redirect</button>
</div>
<br />
<div ng-controller="modalcontroller">
    <button class="btn btn-default" type="button" 
            ng-click="openModal('@ViewBag.Something','This is the content<b>body 2</b>', '','', 'Close It')">Modal with close button only</button>
</div>

<br />
<div ng-controller="modalcontroller">
    <button class="btn btn-default" type="button"
            ng-click="openModal('AngularUI Model 2','This is a notification!', '','', 'Ok')">
        Modal with OK button only
    </button>
</div>

<div ng-controller="modalcontroller" 
     ng-init="openModal('AngularUI Model Onload','Display on page load!', '','', 'Ok')">
</div>

@section scripts{
    <script src="~/ControllersNg/ModalPartialController.js"></script>
}


