
@{
    ViewBag.Title = "Test Warning Page";
}

<h1>Test warning page using bootstrap modal </h1>

<h2>This page SHOULD NOT trigger warning/policy page for every new session</h2>

<p>Warning Banner/ System Logon Banners Policy/ Login Banner/ Rules of Behavior/System Use Policy Page</p>